/**
 * Variables
*/
/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
/* Components */
/**
 * Helper mixins
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  background: transparent;
  text-decoration: none;
}

button,
input {
  line-height: normal;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/**
 * Fonts
*/
@font-face {
  font-family: sans-serif;
}
.header {
  max-width: 120rem;
  margin: 0 auto;
  font-weight: 700;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 2rem;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 700;
  color: #292929;
}

.nav-link:hover {
  color: #36b76b;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 700;
  color: #292929;
}
.nav-logo--green {
  color: #36b76b;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }
}
.main {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem 0rem;
}

.home {
  text-align: center;
  padding: 0rem 5.5rem;
}
.home__container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  grid-template-areas: "img" "data";
}
.home__data {
  grid-area: data;
}
.home__title {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.home__text {
  font-size: 1.4rem;
  color: #7d7d7d;
  margin-bottom: 2rem;
}
.home__img {
  width: 50vw;
  grid-area: img;
  margin: 0 auto;
}

.food {
  text-align: center;
  padding: 2.5rem 5.5rem;
  background-color: #f8f9fb;
  z-index: -1;
}
.food__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.food__data {
  grid-area: data;
}
.food__title {
  font-size: 3rem;
  font-weight: 400;
}
.food__text {
  font-size: 1.4rem;
  color: #7d7d7d;
}
.food__img {
  width: 20rem;
}

.food__plates {
  margin-top: 2rem;
  position: relative;
  z-index: 1;
}

.food__plates::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  z-index: -10;
  width: 190px;
  height: 190px;
  border-radius: 100%;
  background: white;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.btn--solid {
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 400;
  color: #fff;
  background-color: #36b76b;
  border-radius: 1rem;
  padding: 1.1rem 3rem;
}
.btn--solid:hover {
  background-color: #289f59;
}
.btn--transparent {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 400;
  color: #36b76b;
  padding: 1rem 3rem;
  border: 1px solid #36b76b;
  border-radius: 1rem;
  background-color: transparent;
}
.btn--transparent:hover {
  color: #fff;
  background-color: #289f59;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}
/**
 * Dirty hacks, yes internet explorer, we are looking at you
*//*# sourceMappingURL=app.css.map */