.button {
  display: inline-block;
  background-color: $first-color;
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: $font-medium;
  transition: 0.3s;

  &:hover .button__icon {
    transform: translateX(0.25rem);
  }

  &:hover {
    background-color: $first-color-darker;
  }

  &__icon {
    transition: 0.3s;
  }

  &--flex {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  &--link {
    transition: all 0.5s ease;
    color: $first-color;
    border: 3px solid $first-color;
    background-color: transparent;
    padding: 1rem 1.75rem;
    outline: none;
    font-family: inherit;
    font-weight: $font-medium;
    border-radius: 0.5rem;

    &:hover {
      color: #fff;
      background-color: $first-color-darker;
      border: 3px solid $first-color-darker;
    }
  }
}
