.triangle-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid $black-2;
  border-bottom: 5px solid transparent;
  margin-right: 2rem;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid $black-2;
  border-bottom: 5px solid transparent;
  margin-left: 2rem;
}
