/**
 * Variables
*/

/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;

$primary-green: #36b76b;
$secondary-green: #289f59;
$black-2: #292929;
$grey: #7d7d7d;
$light-gray: #f8f9fb;

$body-background-color: #333;
$foreground-color: #fff;
$caption-color: #464646;
$accent-color: #999;
$link-color: #ec1f4e;

/* Components */
