.main {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem 0rem;
}

.home {
  text-align: center;
  padding: 0rem 5.5rem 5rem;

  &__container {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 3rem;
    grid-template-areas:
      "img"
      "data";
  }

  &__data {
    grid-area: data;
  }

  &__title {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.4rem;
    color: $grey;
    margin-bottom: 2rem;
  }

  &__img {
    width: 50vw;
    grid-area: img;
    margin: 0 auto;
  }
}

.food {
  text-align: center;
  padding: 5rem 2rem;
  background-color: $light-gray;
  z-index: -1;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  &__data {
    padding: 0 5.5rem;
    grid-area: data;
  }

  &__title {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.4rem;
    color: $grey;
  }

  &__img {
    max-width: 20vw;
    &--small {
      max-width: 20vw;
    }
  }
}

.food__plates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.food__plate {
  margin-top: 2rem;
  position: relative;
  z-index: 1;
}

.food__plate::after {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  z-index: -10;
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
  background: white;
}
